.menuCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menuCard {
  margin: 30px;
}

.name {
  height: 143px;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
}
.card {
  width: 240px;
}
