.form {
  font-size: 16px;
  margin: 10px;
}
.input {
  width: 60%;
  min-width: 252px;
}
.inputName {
  width: 234px;
}
.submit {
  font-size: 18px;
  width: 40%;
  min-width: 252px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}
.submit:hover {
  cursor: pointer;
}
