.shopCart {
  display: flex;
  margin-right: 5%;
  align-items: center;
}
.cartButton {
  font-size: 18px;
  padding: 2px 6px;
  background: transparent;
  color: white;
  border-color: white;
}

.cartButton:hover {
  background: transparent;
  color: black;
  border-color: black;
}

.goBack {
  background: transparent;
  color: white;
  border-color: white;
  font-size: 18px;
  padding: 2px 8px;
}
.goBack:hover {
  background: transparent;
  color: black;
  border-color: black;
}
@media (max-width: 500px) {
  .ant-btn .cartButtonName {
    display: none;
  }
}
