.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.logo {
  width: 45px;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .logo {
    width: 36px;
    margin-right: 4px;
  }
}
